/**** Visitor_Record Style ****/

.visitorRecord {
  width: 100%;
  margin: auto;
}

.bannerTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 30px 0px
}

p {
  color: #494862;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin: 0;
}

.scanButton {
  width: 20%;
}

.bannerBottom {
  background-color: #A9A9A9;
  margin-bottom: 12px;
  display: flex;
  padding: 10px 18px;
}

.bannerBottom a {
  color: #1e1e2d;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 22px;
  width: auto;
  font-weight: 600;
  text-align: center;
  max-width: 100%;
  text-decoration: none;
}
.bannerBottom a:first-child{
  margin-left: 0px;
}
