/**** Modal_Box Style ****/

.closeModal {
    color: #000000;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
}

.modalOverlay {
    position: fixed;
    display: block;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.modalContent {
    margin: 15% auto;
    background-color: white;
    border-radius: 0.25rem;
    width: 50vw;
    padding: 0rem;
    position: relative;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}